
div.not_message {
	background-color: #808080;
}

/* TOP */
div.not_pos_1, div.not_pos_ {
	height: 40px;
}

/* LEFT */
div.not_pos_3 {
	float:  left;
	height: 100%;

}

/* RIGHT */
div.not_pos_2 {

}

/* BOTTOM */
div.not_pos_4 {
	height: 40px;
}

div.not_message h1.not_title {
	color:       white;
	float:       left;
	font-size:   13px;
	font-weight: bold;
	line-height: 40px;
	margin:      0;
	margin-left: 20px;

}

div.not_message p.not_body {
	color:       white;
	float:       left;
	font-size:   13px;
	line-height: 40px;
	margin:      0;
	margin-left: 20px;

}

div.not_message span.not_event, div.not_message span.not_dismiss {
	color:        white;
	float:        right;
	font-size:    10px;
	line-height:  40px;
	margin-right: 20px;
}

div.not_message span.not_dismiss a {
	color:           white;
	font-size:       25px;
	text-decoration: none;
}

div.not_message span.not_dismiss a:hover {
	color: darkgrey;
}

div.not_type_1 {
	background-color: rgb(61, 120, 156);
}

div.not_type_2 {
	background-color: #FFBD53;
}

div.not_type_3 {
	background-color: rgb(237, 139, 141);
}