<div class="xnot-alert alert {ALERT_TYPE} {ADD_CSS}" role="alert">
	<!-- BEGIN dismiss -->
	<a type="button" class="btn close" href="{DISMISS_LINK}"><i class="glyphicon glyphicon-remove"></i> </a>
	<!-- END dismiss -->
	<a type="button" class="btn close xnot-show-more" href="#"><i class="glyphicon glyphicon-arrow-down"></i> </a>
	<a type="button" class="btn close xnot-show-less" href="#"><i class="glyphicon glyphicon-arrow-up"></i> </a>
	<strong class="xnot-title">{TITLE}</strong>
	<span class="xnot-body">{BODY}</span>
	<!-- BEGIN event -->
	<span class="label label-default">{EVENT}</span>
	<!-- END event -->
</div>



